<a [routerLink]="['/drafts']">Back to Drafts</a>

<div *ngIf="draft">
    <h1 [contentEditableModel]="draft.title" (contentEditableModelChange)="autosaveDraftTitle($event)"></h1>
    <p>By {{ draft.authorName }}</p>
    <p>{{ draft.hero?.attribution }}</p>

    <h2>Hero</h2>
    <input type="number" name="heroid" min="1"
           [(ngModel)]="draft.heroId" (change)="setDraftHero($event.target.valueAsNumber)" />

    <h2>Draft Details</h2>
    <ul>
        <li (click)="setViewState(draftViewState.Edit)">Edit</li>
        <li (click)="setViewState(draftViewState.Preview)">Preview</li>
    </ul>

    <p [style.color]="showWordCountWarning()">{{ wordCountStatement() }}</p>

    <p [hidden]="!isSaving">Saving...</p>

    <textarea [ngModel]="draft.body" (ngModelChange)="autosaveDraftBody($event)" [formControl]="bodyFormControl" [hidden]="viewState == draftViewState.Preview">
    </textarea>

    <section id="markdown-preview" *ngIf="viewState != draftViewState.Edit" [innerHTML]="bodyFormControl.value | markdown">
    </section>

    <h2>Tags</h2>
    <!-- Insert tag data here -->

    <button type="submit" [disabled]="!draft.isPublishable() || isPublishing" (click)="publishDraft()">
        {{ isPublishing ? 'Publishing...' : 'Publish as Article' }}
    </button>
    <button type="submit" (click)="deleteDraft()">Delete Draft</button>
</div>