<h1>Drafts</h1>

<h2>Create a draft</h2>
<section class="new-draft">
    <form id="create-draft-form" (ngSubmit)="createDraft()" #createDraftForm="ngForm">
        <label>Title</label>

        <input type="text" name="new-draft-title" id="new-draft-title"
               [(ngModel)]="newDraftModel.title"
               #title="ngModel"
               required />

        <button type="submit"
                [disabled]="!createDraftForm.form.valid || isCreatingDraft">Create</button>
    </form>
</section>

<h2>Current Drafts <i class="fa fa-trash"></i></h2>
<section>
    <ol>
        <li *ngFor="let draft of drafts">
            <p><a [routerLink]="['/draft', draft.id]">{{ draft.title }}</a></p>
        </li>
    </ol>
</section>

<h2>Published Articles</h2>
<section>

</section>