<!-- Item Header. Includes the hero image, and the article title. -->
<section *ngIf="draft" class="item-header">
    <h1><span spellcheck="false" [contentEditableModel]="draft.title" (contentEditableModelChange)="autosaveDraftTitle($event)"></span></h1>
    <hero [image]="draft.hero?.getUrl()"></hero> <!-- Include article hero attribution here -->
</section>

<!-- Item Container. Holds everything else within. -->
<section class="item-container" *ngIf="draft">

    <!-- Item Metadata. Constrained to the top 50px, intruding on the main photo. -->
    <aside class="item-metadata">
        <div class="link-back-container">
            <a class="low-visibility link-back" [routerLink]="['/drafts']"><i class="fa fa-arrow-circle-left"></i> Back to Drafts</a>
        </div>

        <p class="low-visibility author"><span class="low-visibility translucent penned-by">Penned by </span>{{ draft.authorName }}</p>

        <p class="is-saving-draft" [hidden]="!isSaving">Saving...</p>

        <p class="word-count" [class.warning]="showWordCountWarning()">{{ wordCountStatement() }}</p>
    </aside>

    <!-- Item Detail -->
    <div class="item-detail">

        <!-- Item Content -->
        <div class="item-content">

            <orr-editor [model]="draft.body" (onModelChange)="autosaveDraftBody($event)"></orr-editor>

            <!-- Actions -->
            <div class="draft-actions">
                <button type="submit" class="publish-draft-button" [disabled]="!draft.isPublishable() || isPublishing" (click)="publishDraft()">
                    {{ isPublishing ? 'Publishing...' : 'Publish as Article' }}
                </button>
                <button type="submit" class="delete-draft-button warning-button" (click)="deleteDraft()" *ngIf="showWordCountWarning()">Delete Draft</button>
            </div>
        </div>

        <!-- Item Supporting -->
        <div class="item-supporting">
            <!-- Hero Image Specifier -->
            <h2>Hero</h2>
            <input type="number" name="heroid" min="1"
                   [(ngModel)]="draft.heroId" (change)="setDraftHero($event.target.valueAsNumber)" />

            <!-- Tags -->
            <h2>Tags <i class="fa fa-trash" isDroppable (dropped)="deleteTag($event)" *ngIf="draft.tags.length > 0"></i></h2>
            <p *ngFor="let tag of draft.tags" isDraggable>{{ tag.value }}</p>
            <input type="text" (keypress)="addTag($event)" [(ngModel)]="transientTagValue" /><br/><br/>

            <a class="styleguide-link" [routerLink]="['/styleguide']">Authorship & Markdown Style Guide</a>
        </div>
    </div>
</section>

