<h1>Drafts</h1>
<section class="new-draft">
    <form id="create-draft-form" (ngSubmit)="createDraft()" #createDraftForm="ngForm" novalidate>
        <input type="text" name="new-draft-title" id="new-draft-title"
               [(ngModel)]="newDraftModel.title"
               #title="ngModel"
               placeholder="The title of your draft"
               required />

        <button type="submit"
                [disabled]="!createDraftForm.form.valid || isCreatingDraft">Create</button>
    </form>
</section>

<h2>{{ drafts.length }} Current Drafts <i class="fa fa-trash" isDroppable (dropped)="deleteDraft($event)" *ngIf="drafts.length > 0"></i></h2>
<section>
    <ol>
        <li *ngFor="let draft of drafts" [isDraggable]="draft">
            <p>
                <a [routerLink]="['/draft', draft.id]">{{ draft.title }}</a> by {{ draft.authorName }},
                last edited at {{ draft.updatedAt | date:'HH:mm MMMM d, yyyy' }}
            </p>
        </li>
    </ol>
    <p *ngIf="drafts.length == 0">Nothing here!</p>
</section>

<h2>{{ articles.length }} Published Articles</h2>
<section>
    <ol>
        <li *ngFor="let article of articles">
            <p>{{ article.title }}</p>
        </li>
    </ol>
</section>