<section *ngIf="draft" class="item-header" [style.background-image]="">
    <h1><span [contentEditableModel]="draft.title" (contentEditableModelChange)="autosaveDraftTitle($event)"></span></h1>
    <hero [image]="draft.hero?.getUrl()"></hero>
</section>

<a [routerLink]="['/drafts']">Back to Drafts</a>

<div *ngIf="draft">
    <p>By {{ draft.authorName }}</p>
    <p>{{ draft.hero?.attribution }}</p>

    <!-- Hero -->
    <h2>Hero</h2>
    <input type="number" name="heroid" min="1"
           [(ngModel)]="draft.heroId" (change)="setDraftHero($event.target.valueAsNumber)" />

    <h2>Draft Details</h2>
    <ul>
        <li (click)="setViewState(draftViewState.Edit)">Edit</li>
        <li (click)="setViewState(draftViewState.Preview)">Preview</li>
    </ul>

    <p [style.color]="showWordCountWarning()">{{ wordCountStatement() }}</p>

    <p [hidden]="!isSaving">Saving...</p>

    <textarea [ngModel]="draft.body" (ngModelChange)="autosaveDraftBody($event)" [formControl]="bodyFormControl" [hidden]="viewState == draftViewState.Preview">
    </textarea>

    <section id="markdown-preview" *ngIf="viewState != draftViewState.Edit" [innerHTML]="bodyFormControl.value | markdown">
    </section>

    <!-- Tags -->
    <h2>Tags <i class="fa fa-trash" isDroppable (dropped)="deleteTag($event)" *ngIf="draft.tags.length > 0"></i></h2>
    <p *ngFor="let tag of draft.tags" isDraggable>{{ tag.value }}</p>
    <input type="text" (keypress)="addTag($event)" [(ngModel)]="transientTagValue" />

    <!-- Actions -->
    <button type="submit" [disabled]="!draft.isPublishable() || isPublishing" (click)="publishDraft()">
        {{ isPublishing ? 'Publishing...' : 'Publish as Article' }}
    </button>
    <button type="submit" (click)="deleteDraft()">Delete Draft</button>
</div>