<div *ngIf="home" class="home">
    <p>The latest news and discussion about the aerospace industry-leading company SpaceX,
        and the up and coming newspace movement that is making affordable spaceflight a reality.</p>

    <div class="lead-article" *ngIf="home.leadArticle">
        <a [articleRouterLink]="home.leadArticle"></a>
        <h1><span class="overlay-text">{{ home.leadArticle.title }}</span></h1>

    </div>

    <h1>Also...</h1>
    <section *ngIf="home.midTierArticles">
        <article>
            <p><a [articleRouterLink]="home.midTierArticles.first">{{ home.midTierArticles.first.title }}</a></p>
        </article>
        <article>
            <p><a [articleRouterLink]="home.midTierArticles.second">{{ home.midTierArticles.second.title }}</a></p>
        </article>
    </section>

    <h1>More</h1>
    <section *ngIf="home.moreArticles">
        <article>
            <p><a [articleRouterLink]="home.moreArticles.first">{{ home.moreArticles.first.title }}</a></p>
        </article>
        <article>
            <p><a [articleRouterLink]="home.moreArticles.second">{{ home.moreArticles.second.title }}</a></p>
        </article>
        <article>
            <p><a [articleRouterLink]="home.moreArticles.third">{{ home.moreArticles.third.title }}</a></p>
        </article>
    </section>

    <p><a [routerLink]="['/articles']">All articles...</a></p>

    <!-- Most read? -->
    <!-- tweets -->
</div>
