<h1>Welcome to One Rocket Road</h1>

<div *ngIf="home">
    <h2>The latest</h2>
    <article *ngIf="home.leadArticle">
        <p><a [articleRouterLink]="home.leadArticle">{{ home.leadArticle.title }}</a></p>
    </article>

    <h2>Also...</h2>
    <section *ngIf="home.midTierArticles">
        <article>
            <p><a [articleRouterLink]="home.midTierArticles.first">{{ home.midTierArticles.first.title }}</a></p>
        </article>
        <article>
            <p><a [articleRouterLink]="home.midTierArticles.second">{{ home.midTierArticles.second.title }}</a></p>
        </article>
    </section>

    <h2>More</h2>
    <section *ngIf="home.moreArticles">
        <article>
            <p><a [articleRouterLink]="home.moreArticles.first">{{ home.moreArticles.first.title }}</a></p>
        </article>
        <article>
            <p><a [articleRouterLink]="home.moreArticles.second">{{ home.moreArticles.second.title }}</a></p>
        </article>
        <article>
            <p><a [articleRouterLink]="home.moreArticles.third">{{ home.moreArticles.third.title }}</a></p>
        </article>
    </section>

    <p><a [routerLink]="['/articles']">All articles...</a></p>

    <!-- Most read? -->
    <!-- tweets -->
</div>
