<div *ngIf="home" class="home">
    <p>The latest news and discussion about the aerospace industry-leading company SpaceX,
        and the up and coming newspace movement that is making affordable spaceflight a reality.</p>

    <div class="lead-article" *ngIf="home.leadArticle" [heroImage]="home.leadArticle.h">
        <a [articleRouterLink]="home.leadArticle"></a>
        <h1><span class="overlay-text">{{ home.leadArticle.title }}</span></h1>
    </div>

    <h2>Also...</h2>
    <section *ngIf="home.midTierArticles">
        <div class="second-tier-article">
            <p><a [articleRouterLink]="home.midTierArticles.first">{{ home.midTierArticles.first.title }}</a></p>
            <img src="{{ home.midTierArticles.first.hero.getUrl() }}" />
        </div>
        <div class="second-tier-article">
            <p><a [articleRouterLink]="home.midTierArticles.second">{{ home.midTierArticles.second.title }}</a></p>
        </div>
    </section>

    <h2>More</h2>
    <section *ngIf="home.moreArticles">
        <div class="third-tier-article">
            <p><a [articleRouterLink]="home.moreArticles.first">{{ home.moreArticles.first.title }}</a></p>
        </div>
        <div class="third-tier-article">
            <p><a [articleRouterLink]="home.moreArticles.second">{{ home.moreArticles.second.title }}</a></p>
        </div>
        <div class="third-tier-article">
            <p><a [articleRouterLink]="home.moreArticles.third">{{ home.moreArticles.third.title }}</a></p>
        </div>
    </section>

    <p><a [routerLink]="['/articles']">All articles...</a></p>

    <!-- Most read? -->
    <!-- tweets -->
</div>
