<h1>Images</h1>
<form class="image-upload-form" (ngSubmit)="uploadNewImage()" #imageForm="ngForm" novalidate>
    <ul>
        <li>
            <orr-dropzone [url]="'/api/images/create'" (onUploadCompletion)="createImage($event)"></orr-dropzone>
        </li>
        <li class="image-upload-summary">
            <label for="summary">Summary</label>
            <textarea [(ngModel)]="imageToUpload.summary" id="summary" name="summary" required></textarea>
        </li>
        <li class="image-upload-attribution">
            <label for="attribution">Attribution</label>
            <input [(ngModel)]="imageToUpload.attribution" type="text" id="attribution" name="attribution" required />
        </li>
        <li>
            <button type="submit" [disabled]="!imageForm.form.valid || isSubmitting">
                {{ isSubmitting ? "Uploading..." : "Upload" }}
            </button>
        </li>
    </ul>
</form>

<h2>{{ images.length }} Recently Added</h2>
<div class="all-images" *ngFor="let image of images">

    <div class="image">
        <p><span class="label">Image ID</span> {{ image.id }}</p>

        <div class="displayable">
            <img [src]="image.getThumbUrl()" [alt]="image.summary" />
            <div [style.backgroundColor]="image.color" class="swatch"></div>
        </div>

        <ul>
            <li>
                <label class="label">Full image</label>
                <input type="text" [highlightOnClick] [value]="image.getUrl()" readonly />
            </li>
            <li>
                <label>Thumbnail</label>
                <input type="text" [highlightOnClick] [value]="image.getThumbUrl()" readonly />
            </li>
        </ul>
        <p>{{ image.attribution }}</p>
        <p>{{ image.summary }}</p>
    </div>
</div>