<div class="header-container" [class.is-article]="isArticle">
    <header>
        <span id="logo"><a [routerLink]="['']">One Rocket Road</a></span>
        <nav>
            <ul>
                <li>
                    <a [routerLink]="['/articles']">Articles</a>
                </li>
                <li *ngIf="authenticationService.isLoggedIn">
                    <a [routerLink]="['/drafts']">Drafts</a>
                </li>
                <li *ngIf="authenticationService.isLoggedIn">
                    <a [routerLink]="['/images']">Images</a>
                </li>

                <li class="align-right" *ngIf="authenticationService.isLoggedIn">
                    <a (click)="authenticationService.logout()">Logoff</a>
                </li>
                <li class="align-right">
                    <a [routerLink]="['/about']">About</a>
                </li>
            </ul>
        </nav>
    </header>
</div>

<router-outlet (activate)="onActivate($event)"></router-outlet>