<h1>Sign Up</h1>

<form #signupForm="ngForm" (ngSubmit)="signUp(email.value, fullname.value, password.value)">
    <ul>
        <li>
            <span>Email</span>
            <input type="email" name="email" #email required />
        </li>
        <li>
            <span>Fullname</span>
            <input type="text" name="fullname" #fullname required />
        </li>
        <li>
            <span>Password</span>
            <input type="password" name="password" #password required minlength="8" />
        </li>
        <li>
            <button type="submit" [disabled]="!signupForm.valid || isSigningUp">{{ isSigningUp ? "Signing Up" : "Sign Up" }}</button>
        </li>
    </ul>
</form>