<h1>Style Guide</h1>
<p>It is important to follow the One Rocket Road styleguide defined here when authoring articles.</p>

<h2>Grammar</h2>
<section class="styleguide-grammar">
    <ul>
        <li>Use hyphens, en-dashes, and em-dashes correctly.</li>
        <li>Always use superscript to format the date of the month. 18<sup>th</sup> May, not 18th May.</li>
    </ul>
</section>

<h2>Markdown</h2>
<section class="styleguide-markdown">
    <ul>
        <li>Always use markdown semantically. Never use an second-level header if you haven't already used a
        first-level header.</li>
    </ul>

    <h3>Markdown Element Reference</h3>
    <div class="markdown" [innerHtml]="markdownElementReference | markdown">
    </div>
</section>
