/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import "https://fonts.googleapis.com/css?family=Cairo:300,400,600|Montserrat|Source+Code+Pro";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.low-visibility {
  color: #849199;
  font-weight: lighter; }

.translucent {
  opacity: 0.75; }

.warning {
  color: #CC7555; }

html {
  font-family: "Cairo", sans-serif; }

header, router-outlet + * {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px; }
  header::after, router-outlet + *::after {
    clear: both;
    content: "";
    display: block; }

articles, about, article, draft, drafts, home, images, login, signup, styleguide {
  display: block; }

h1, h2, h3, h4, h5, h6, p, ul, ol, li, span {
  color: #21272b; }

header {
  height: 100px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  margin: 20px 0;
  line-height: 1.2; }

h1 {
  font-size: 48px; }

p {
  font-size: 18px;
  line-height: 1.5; }

[hidden] {
  display: none !important; }

.header-container {
  background-color: #21272b; }
  .header-container.is-article {
    background-color: transparent; }
    .header-container.is-article nav {
      display: none; }

header {
  font-family: "Brandon Grotesque";
  line-height: 100px;
  color: #F5F5F5; }
  header a {
    color: #F5F5F5;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    transition: border-bottom ease 0.2s; }
    header a:hover {
      border-bottom: 3px solid #CC7555; }

#logo {
  float: left;
  display: block;
  margin-right: 1.61735%;
  width: 23.78699%;
  background-color: #CC7555;
  font-size: 24px; }
  #logo:last-child {
    margin-right: 0; }
  #logo:before {
    content: "";
    display: inline-block;
    height: 100px;
    background-color: #CC7555;
    width: calc(((100% - 1400px) / 2) + 10px);
    position: absolute;
    left: 0;
    min-width: 10px; }
  #logo a {
    display: block;
    width: 100%;
    position: relative;
    border-bottom: none; }
  #logo a:after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 100px solid #CC7555;
    border-right: 40px solid transparent;
    position: absolute;
    right: -40px; }

nav {
  float: left;
  display: block;
  margin-right: 1.61735%;
  width: 74.59566%; }
  nav:last-child {
    margin-right: 0; }
  nav ul li {
    float: left;
    display: block;
    margin-right: 1.61735%;
    width: 15.31888%;
    text-align: center; }
    nav ul li:last-child {
      margin-right: 0; }
    nav ul li.align-right {
      float: right; }
      nav ul li.align-right a {
        color: #E1E1E1; }

.item-header {
  top: -100px;
  padding-top: 100px;
  margin-top: -100px;
  height: 500px; }
  .item-header hero {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 500px;
    z-index: -1;
    background-color: #9aa8b1;
    background-position: 50% 50%;
    background-size: cover; }
  .item-header h1 span {
    color: #F5F5F5;
    padding: 0 10px;
    background-color: rgba(33, 39, 43, 0.75);
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    line-height: normal; }

.item-container {
  margin-top: -50px;
  background-color: white;
  padding: 10px;
  position: relative;
  left: -10px;
  width: calc(100% + 2 * 10px); }
  .item-container:before {
    content: "";
    display: block;
    height: 50px;
    width: 100%;
    z-index: -1;
    box-shadow: 0 0 10px rgba(33, 39, 43, 0.3);
    position: absolute;
    top: 0;
    left: 0; }

.item-metadata {
  color: #849199;
  height: 40px; }
  .item-metadata .link-back-container {
    float: left;
    display: block;
    margin-right: 1.61735%;
    width: 15.31888%;
    height: 40px; }
    .item-metadata .link-back-container:last-child {
      margin-right: 0; }
  .item-metadata .link-back {
    text-transform: uppercase;
    font-size: small;
    line-height: 30px;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    transition: border-bottom ease 0.2s; }
    .item-metadata .link-back:hover {
      border-bottom: 3px solid #CC7555; }
  .item-metadata .author {
    float: left;
    display: block;
    margin-right: 1.61735%;
    width: 15.31888%;
    font-style: italic; }
    .item-metadata .author:last-child {
      margin-right: 0; }
    .item-metadata .author .penned-by {
      font-size: small;
      padding-right: 3px; }
  .item-metadata .word-count {
    float: left;
    display: block;
    margin-right: 1.61735%;
    width: 6.85076%;
    text-align: right;
    float: right; }
    .item-metadata .word-count:last-child {
      margin-right: 0; }

.item-detail .item-content {
  float: left;
  display: block;
  margin-right: 1.61735%;
  width: 74.59566%;
  overflow: hidden; }
  .item-detail .item-content:last-child {
    margin-right: 0; }
.item-detail .item-supporting {
  float: left;
  display: block;
  margin-right: 1.61735%;
  width: 23.78699%; }
  .item-detail .item-supporting:last-child {
    margin-right: 0; }

input, textarea {
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  padding: 5px 10px;
  transition: border-color ease 0.5s; }
  input:focus, textarea:focus {
    border-color: #00BFFF; }

input {
  font-size: 16px; }

textarea {
  font-family: "Source Code Pro", monospace;
  font-size: 13px; }

button {
  border: 2px solid #00BFFF;
  color: #00BFFF;
  min-width: 100px;
  height: 35px;
  border-radius: 35px;
  cursor: pointer;
  text-transform: uppercase;
  padding: 5px 10px;
  margin: 5px 10px;
  background-color: transparent;
  transition: all ease 0.2s; }
  button:disabled {
    border-color: #DDDDDD;
    color: #DDDDDD;
    cursor: default; }
  button:hover:not(:disabled) {
    border-color: #007399;
    color: #007399; }
  button:active:not(:disabled) {
    border-color: #CC7555;
    color: #CC7555; }
  button.warning-button {
    border-color: #CC7555;
    color: #CC7555; }
    button.warning-button:hover:not(:disabled) {
      border-color: #90462b;
      color: #90462b; }

dropzone {
  display: block;
  width: 200px;
  height: 200px;
  border: 3px dashed dodgerblue;
  border-radius: 10px;
  background-color: #F9F9F9; }

.all-images div.image img {
  max-width: 300px;
  max-height: 300px; }
.all-images div.image .swatch {
  width: 50px;
  height: 50px; }

.is-saving-draft {
  float: left;
  display: block;
  margin-right: 1.61735%;
  width: 6.85076%;
  margin-left: 50.80867%; }
  .is-saving-draft:last-child {
    margin-right: 0; }

.draft-view-selector {
  width: 100%; }
  .draft-view-selector .draft-view-option {
    float: left;
    display: block;
    margin-right: 1.61735%;
    width: 49.19133%;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    transition: border-bottom ease 0.2s; }
    .draft-view-selector .draft-view-option:last-child {
      margin-right: 0; }
    .draft-view-selector .draft-view-option:hover, .draft-view-selector .draft-view-option.active {
      border-bottom: 3px solid #CC7555; }

.draft-skeleton {
  width: 100%;
  border-radius: 0px;
  min-height: 400px;
  resize: vertical; }

.draft-preview {
  width: 100%; }

.draft-actions {
  margin-top: 10px; }
  .draft-actions .delete-draft-button {
    float: right; }

.markdown h1 {
  font-size: 36px; }
.markdown h2 {
  font-size: 28px; }
.markdown h3 {
  font-size: 22px; }
.markdown h4 {
  font-size: 18px; }
.markdown h5 {
  font-size: 16px;
  font-weight: bold; }
.markdown h6 {
  font-size: 16px;
  font-style: italic; }
.markdown strong {
  font-weight: bold; }
.markdown em {
  font-style: italic; }
.markdown p {
  margin: 20px 0; }
.markdown > ul > li, .markdown > ol > li {
  margin-left: 10px; }
.markdown ul, .markdown ol {
  font-size: 18px;
  list-style-position: inside; }
  .markdown ul li, .markdown ol li {
    margin: 10px 0 10px 40px; }
.markdown ul li {
  list-style-type: disc; }
  .markdown ul li ul li {
    list-style-type: circle; }
    .markdown ul li ul li ul li {
      list-style-type: square; }
.markdown ol li {
  list-style-type: decimal; }
  .markdown ol li ol li {
    list-style-type: lower-alpha; }
    .markdown ol li ol li ol li {
      list-style-type: lower-roman; }
.markdown blockquote {
  border-left: 5px solid #CC7555;
  background-color: rgba(204, 117, 85, 0.1);
  font-style: italic;
  overflow: hidden;
  padding-left: 20px; }
.markdown code {
  font-family: "Source Code Pro", monospace;
  color: #CC7555;
  background-color: #DDDDDD;
  padding: 2px 5px;
  font-size: 14px;
  border-radius: 3px; }
.markdown pre {
  background-color: #DDDDDD;
  padding: 20px;
  margin: 20px 0; }
.markdown hr {
  border: 0;
  border-top: 2px dotted #CC7555; }
.markdown a {
  color: #CC7555; }
