// Homepage and landing page of the application.
//-------------------------------------------------------------------------------
.lead-article {
    @include span-columns(12);
    background-color:lighten($slate, 50%);
    height:500px;
}

.second-tier-article {
    @include span-columns(6);

    img {
        width:100%;
    }
}