// Dropzone allows for images to be uploaded from a computer to One Rocket Road.
//-------------------------------------------------------------------------------
dropzone {
    display:block;
    width:200px;
    height: 200px;
    border:3px dashed dodgerblue;
    border-radius:10px;
    background-color:#F9F9F9;
}