// The editor that defines where articles and drafts are editable and previewable.
//-------------------------------------------------------------------------------
.editor-view-selector {
    width:100%;

    .editor-view-option {
        @include span-columns(6);
        cursor:pointer;
        text-align:center;
        padding:$padding;
        margin-bottom:$padding / 2;
        font-weight:bold;
        font-size:20px;
        text-transform: uppercase;

        @include fancy-active-state();
    }
}

.editor-skeleton {
    width:100%;
    border-radius:0px;
    min-height:400px;
    resize:vertical;
}

.editor-preview {
    width:100%;
}