// Form, input, & button related UX design.
//-------------------------------------------------------------------------------
$defaultFormElementPadding: 5px 10px;
$buttonHeight:35px;

// Individual inputs
input, textarea {
    border:1px solid $lightgrey;
    border-radius:3px;
    padding:$defaultFormElementPadding;
    min-width:300px;
    @include transition-slow(border-color);

    &:focus {
        border-color:$azure;
    }
}

input {
    font-size:16px;
}

textarea {
    font-family:$sourcecodepro;
    font-size:13px;
}

button {
    border:2px solid $azure;
    color:$azure;
    min-width:100px;
    height:$buttonHeight;
    border-radius:$buttonHeight;
    cursor:pointer;
    text-transform:uppercase;
    padding:$defaultFormElementPadding;
    margin:$defaultFormElementPadding;
    background-color:transparent;
    @include transition-fast(all);

    &:disabled {
        border-color: $lightgrey;
        color:$lightgrey;
        cursor:default;
    }

    &:hover:not(:disabled) {
        border-color:darken($azure, 20%);
        color:darken($azure, 20%);
    }

    &:active:not(:disabled) {
        border-color:$canyon;
        color:$canyon;
    }

    &.warning-button {
        border-color:$canyon;
        color:$canyon;

        &:hover:not(:disabled) {
            border-color:darken($canyon, 20%);
            color:darken($canyon, 20%);
        }
    }
}

label {
    display:inline-block;
    min-width:100px;
    text-align:left;
    margin-right:$padding;
    @include label();
}

form {
    li {
        padding:$padding 0;
    }
}