$slantOffset: 40px;

.header-container {
    background-color:$slate;

    &.is-article {
        background-color:transparent;

        nav {
            display:none;
        }
    }
}

// The main header of the site
header {
    font-family:$brandongrotesque;
    line-height:$headerHeight;
    color:$white;

    a {
        color:$white;
        @include fancy-link();
    }
}

// The logo
#logo {
    @include span-columns(3);

    background-color:$canyon;
    font-size:24px;

    &:before {
        content:"";
        display:inline-block;
        height:$headerHeight;
        background-color:$canyon;
        width:calc(((100% - #{$max-width}) / 2) + #{$padding});
        position:absolute;
        left:0;
        min-width:10px;
    }

    a {
        display:block;
        width:100%;
        position:relative;
        border-bottom:none;
    }

    a:after {
        content:"";
        display:inline-block;
        width:0;
        height:0;
        border-top:$headerHeight solid $canyon;
        border-right:$slantOffset solid transparent;
        position:absolute;
        right:-$slantOffset;
    }
}

// Navigation
nav {
    @include span-columns(9);

    ul li {
        @include span-columns(2);
        text-align:center;
        line-height:$headerHeight;

        &.align-right {
            float:right;

            a {
                color:#E1E1E1;
            }
        }
    }
}