// Variables
$headerHeight: 100px;

// Sensible defaults
html {
    font-family:$cairo;
}

// Set outer containers for bourbon-neat
header, router-outlet + * {
    @include outer-container;
    padding:0 $padding;
}

// Set angular 2 components to have a block display setting
orr-articles, orr-about, orr-article, orr-draft, orr-drafts, orr-home, orr-images,
orr-login, orr-signup, orr-style-guide {
    display:block;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li, span {
    color:$slate;
}

// Header
header {
    height:$headerHeight;
}

// Text
h1, h2, h3, h4, h5, h6 {
    font-family:$montserrat;
    margin:20px 0;
    line-height:1.2;
}

h1 {
    font-size:48px;
}

p, li {
    font-size:18px;
    line-height:1.5;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

sub {
    vertical-align: sub;
    font-size: smaller;
}

[hidden] {
    display:none !important;
}