// Variables
$headerHeight: 100px;

// Sensible degaults
html {
    font-family:$cairo;
}

// Set outer containers for bourbon-neat
header, router-outlet + * {
    @include outer-container;
}

// Set angular 2 components to have a block display setting
articles, about, article, draft, drafts, home, images, login, signup, styleguide {
    display:block;
}

// Header
.header-container {
    background-color:$slate;

    header {
        height:$headerHeight;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family:$montserrat;
    margin:20px 0;
}

h1 {
    font-size:48px;
}

p {
    font-size:18px;
    line-height:1.5;
}